.box {
  /* width: 90%; */
  margin: 80px 30% 0px;
}
.box .about-content {
  box-shadow: 0 0 5px #eee;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.box .about-content h1 {
  font-size: 32px;
  font-weight: bold;
  color: #49d391;
  margin: 10px 0;
  text-align: center;
}
.box .about-content h2 {
  font-size: 24px;
  font-weight: bold;
  color: #49d391;
  margin: 10px 0;
}
.box .about-content p {
  font-size: 16px;
  line-height: 1.5;
}
