<nav class="nav">
  <!-- 电脑端样式 -->
  <div class="pc">
    <div class="logo"></div>
    <div class="downBar">
      <a href="/">IPA表</a>
      <a href="/alphabet.html">字母表</a>
      <a href="/about.html">关于</a>
    </div>
  </div>
  <!-- 移动端样式 -->
  <div class="mobile">
    <div class="content">
      <div class="logo"></div>
      <div class="title"></div>
      <button class="menu-btn"></button>
    </div>
    <div class="downBar">
      <a href="/">IPA表</a>
      <a href="/alphabet.html">字母表</a>
      <a href="/about.html">关于</a>
    </div>
  </div>
</nav>
